@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Bold.ttf');
  font-weight: 700;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #fff;
  background: #fff;
}

.main-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
  background: #25282a;
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  gap: 20px;
  /* max-width: 800px;
  margin: 0 auto; */
  /* overflow: hidden; */
  border: 2px solid red;
}

.slider-radio {
  display: none;
}

.slider-container {
  /* display: flex;
  transition: transform 0,5 ;
  padding-bottom: 20px; */
  max-width: 1000px;
  overflow: hidden;
  background: #000;
  border-radius: 1%;
  border: 2px solid greenyellow;
  /* transition: transform 0.5s ease-in-out; */
}

.image-container {
  display: flex;
  width: 100%;
  text-align: center;
  transition: transform 0.5s ease-in-out;
}

.slider-slide {
  min-width: 100%;
  /* flex-shrink:0; */
  /* width: 100px;
  height: 100px; */
}

.slider-slide img {
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
}

.common-container {
  display: flex;
  justify-content: space-between;
  /* row-gap: 20px; */
  border: 2px solid red;
}

.slider-caption-container {
  /* display: flex; */
  /* justify-content: center; */
  /* margin-top: 20px; */
  width: 80%;
  height: 70px;
  border: 2px solid pink;
}

.slider-nav {
  width: 20%;
  text-align: right;
  border: 2px solid blueviolet;
}

.slider-indicator {
  display: inline-block;
  padding: 5px;
  /* width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%; */
  cursor: pointer;
  /* margin: 0 5px; */
}

.slider-nav span {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #ab74df;
  background-color: #ab74df;
  cursor: pointer;
  transition: 0.5s;
}

label:hover span {
  background-color: #fff;
  border: 2px solid #fff;
}

.slider-radio:nth-child(1):checked ~ .common-container .slider-nav label[for="slide1"] span,
.slider-radio:nth-child(2):checked ~ .common-container .slider-nav label[for="slide2"] span,
.slider-radio:nth-child(3):checked ~ .common-container .slider-nav label[for="slide3"] span,
.slider-radio:nth-child(4):checked ~ .common-container .slider-nav label[for="slide4"] span {
  background-color: #25282a;
  border-color: #ab74df;
}

.slider-radio:nth-child(1):checked ~ .slider-container {
  --index: 1;
}

.slider-radio:nth-child(2):checked ~ .slider-container {
  --index: 2;
}

.slider-radio:nth-child(3):checked ~ .slider-container {
  --index: 3;
}

.slider-radio:nth-child(4):checked ~ .slider-container {
  --index: 4;
}

.slider-radio:checked ~ .slider-container .image-container {
  transform: translateX(calc(-100% * (var(--index) - 1)));
}

/* .slider-radio:checked ~ .slider-caption-container .slider-caption {
  display: block;
} */


/* .slider-radio:nth-child(1):checked ~ .slider-nav label:nth-child(1),
.slider-radio:nth-child(2):checked ~ .slider-nav label:nth-child(2),
.slider-radio:nth-child(3):checked ~ .slider-nav label:nth-child(3),
.slider-radio:nth-child(4):checked ~ .slider-nav label:nth-child(4) {
  background-color: #f0f0f0;
} */


